<!DOCTYPE html>

<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  
  <link rel="stylesheet" href="css/passengers.css" />
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  
  <title>Titanic</title>
</head>

<body>

<nav th:replace="layouts/nav :: navFragment">
</nav>

<div class="jumbotron text-center">
    <h1>Titanic Passengers</h1> 
  </div>
  

<div class="hero-image">
  <div class="hero-text">
    <img src="../static/img/rope.png" th:src="@{/img/}+${rope.image}"></img>
    <h1>Titanic image</h1>
  </div>
</div>
  
<div class ="container">
  
<p><a href="/passengers/">Passenger Details</a></p>
  	
 <form action="/searchpassengerId" method="get">
  	<label>PassengerId</label>
  	<input type="integer" name="passengerId"></input>
  	<input type="submit" value="Search"></input>
  </form>
  
<form action="/searchsurvived" method="get">
  	<label>Survived</label>
  	<input type="integer" name="survived"></input>
  	<input type="submit" value="Search"></input>
  </form>
  
<form action="/searchpClass" method="get">
  	<label>PClass</label>
  	<input type="integer" name="pClass"></input>
  	<input type="submit" value="Search"></input>
  </form>
  
<form action="/searchname" method="get">
  	<label>Name</label>
  	<input type="text" name="name"></input>
  	<input type="submit" value="Search"></input>
  </form>  
  
<form action="/searchsex" method="get">
  	<label>Sex</label>
  	<input type="text" name="sex"></input>
  	<input type="submit" value="Search"></input>
  </form>  
  
<form action="/searchage" method="get">
  	<label>Age</label>
  	<input type="integer" name="age"></input>
  	<input type="submit" value="Search"></input>
  </form>
  
<form action="/searchsibSp" method="get">
  	<label>SibSp</label>
  	<input type="integer" name="sibSp"></input>
  	<input type="submit" value="Search"></input>
  </form>  
  
<form action="/searchperch" method="get">
  	<label>Perch</label>
  	<input type="integer" name="perch"></input>
  	<input type="submit" value="Search"></input>
  </form>  
  
<form action="/searchticket" method="get">
  	<label>Ticket</label>
  	<input type="double" name="ticket"></input>
  	<input type="submit" value="Search"></input>
  </form>  
  
<form action="/searchfare" method="get">
  	<label>Fare</label>
  	<input type="double" name="fare"></input>
  	<input type="submit" value="Search"></input>
  </form>  
  
<form action="/searchcabin" method="get">
  	<label>Cabin</label>
  	<input type="double" name="cabin"></input>
  	<input type="submit" value="Search"></input>
  </form>  
  
<form action="/searchembarked" method="get">
  	<label>Embarked</label>
  	<input type="text" name="embarked"></input>
  	<input type="submit" value="Search"></input>
  </form>  








</div>

</body>
</html>