<!DOCTYPE html>

<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  
  <link rel="stylesheet" href="css/dwarf.css" />
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Creepster|Old+Standard+TT" rel="stylesheet"> 
  <title>Dwarf Home</title>
</head>

<body>

<nav th:replace="layouts/nav :: navFragment">
</nav>

<div class="jumbotron text-center">
    <h1>Dwarf Home Page</h1> 
  </div>
  
  <div class ="container">
  
<p><a href="/disney/">Disney Dwarfs</a></p>
<p><a href="/tolkien/">Tolkien Dwarfs</a></p>
  	
 <form action="/searchid" method="get">
  	<label>ID</label>
  	<input type="text" name="id"></input>
  	<input type="submit" value="Search"></input>
  </form>
  
<form action="/searchname" method="post">
  	<label>Name</label>
  	<input type="text" name="name"></input>
  	<input type="submit" value="Search"></input>
  </form>
  
<form action="/searchauthor" method="get">
  	<label>Author</label>
  	<input type="text" name="author"></input>
  	<input type="submit" value="Search"></input>
  </form>

</div>

</body>
</html>